#
#<IfModule mod_rewrite.c>
#RewriteEngine on	
#
#RewriteCond %{SCRIPT_FILENAME} !-d  
#RewriteCond %{SCRIPT_FILENAME} !-f
#RewriteBase /
#Rewriterule ^(.+)/(.+)$ index.php?controller=$1&action=$2
#Rewriterule ^(.+)/(.+)/(.+)$ index.php?controller=$1&action=$2&id=$3
#
#</IfModule>	